@font-face {
  font-family: "Titres";
  src: url("../fonts/Aileron.otf")
}

@font-face {
  font-family: "Textes";
  src: url("../fonts/neuro.ttf")
}

html{
  background: center/90% no-repeat url("../imgs/logo_anime_bg.gif"), linear-gradient(to top, #1b2735, #19202b, #151a22, #111319, #090a0f);
  overflow:hidden;
  height: 100%;
  color: white;
  margin: 0;
}

h1{
  font-family: "Titres";
  color: white;
  font-size: 6vw;
  margin-top: 0% ;
  text-align: center;
  background-color: rgba(98, 101, 103, 0.4);
  border-radius: 16% 3% ;
  margin: 2% auto;
  width: 60vw;  
}

/* Separation de la page en 3*/
.separate{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin:auto;
  height: 100%;
}

/* Partie de gauche */
#txt1{
  color: #cdffd0;
  font-size: 35px;
  font-weight: 300;
  margin-top: 10%;
  text-align: center;
}

.rs{
  position: fixed;
  bottom: 7%;
}

.rs h2{
  margin-bottom: 0%;
}

.div_rs{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  grid-gap: 40px;
}

.div_rs p{
  color: #00d6fc;
  text-decoration: none;
  font-size: 20px;
}

.img_rs{
  max-width: 50px;
}

/* Actualites */
.actu{
	background-color: rgba(98, 101, 103, 0.3);
	border-radius: 10px;
	margin: 5% 20px;
	border: 4px solid black;
  border-top: 0;
  overflow: hidden;

}

.actu h2{
	font-size: 4vw;
	border-radius: 10px 10px 0px 0px;
  background-color: #00000062;
  text-align: center;
  color: white;
  margin: 0;
  font-family: "Textes";
}

li:hover{
  background-color: #25222262;
}

.news {
  padding: 16px;
  border-bottom: 1px dashed rgba(221, 221, 221, 0.336);
}

.ul-actu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 60vh;
  overflow: auto;
}

.logo-actu{
  color: #00d6fc;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: #117081; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0c4b57; 
}

/* Footer */
footer{
  position: fixed;
  bottom: 0;
}

/* Background anime*/
.star{
  position:absolute;
  width:2px;
  height:2px;
  background:#fff;
  right:0;
  animation:starTwinkle 3s infinite linear;
}

@keyframes starTwinkle{
  0%{
     background:rgba(255,255,255,0.4);
  }
  25%{
    background:rgba(255,255,255,0.8);
  }
  50%{
   background:rgba(255,255,255,1);
  }
  75%{
    background:rgba(255,255,255,0.8);
  }
  100%{
    background:rgba(255,255,255,0.4);
  }
}

/* Bouton de jeu */
.btn-play {
	width: 100%; 
  display: inline-flex;
  justify-content: center;
  position: relative;
  top: 20vh;
}

.kave-line{
  text-align: center;
  text-decoration: none;
  font-family: "Titres";
  color: rgba(0, 214, 252, 0.5);
  font-size: 70px;
  font-weight: bold;
  transition: 0.5s;
}

.kave-btn {
  position: absolute;
  background: none;
  border: solid 1px rgba(0, 214, 252, 0.3);
  color: rgba(0, 214, 252, 0.5);
  letter-spacing: 3px;
}

.kave-btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 10%;
  width: 60px;
  height: 1px;
  transform: translateY(-1px);
  background-color: #00d6fc;
  transition: all 0.25s ease;
}

.kave-btn:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 10%;
  width: 60px;
  height: 1px;
  transform: translateY(1px);
  background-color: #00d6fc;
  transition: all 0.25s ease;
}

.kave-btn:hover {
  box-shadow: 1px 1px 8px rgba(0, 214, 252, 0.3);
  color: #00d6fc;
  text-shadow: 0 0 8px rgba(0, 214, 252, 0.4);
}

.kave-btn:hover.kave-btn:before {
  left: 0;
  width: 20px;
}

.kave-btn:hover.kave-btn:after {
  right: 0;
  width: 20px;
}

.kave-btn:hover .kave-line:before {
  bottom: 0;
}

.kave-btn:hover .kave-line:after {
  top: 0;
}

.kave-line:hover{
  color: #01568b;
}

.kave-line:before {
  content: "";
  position: absolute;
  bottom: 30%;
  right: 0;
  width: 1px;
  height: 20px;
  transform: translateX(1px);
  background-color: #00d6fc;
  transition: all 0.25s ease;
}

.kave-line:after {
  content: "";
  position: absolute;
  top: 30%;
  left: 0;
  width: 1px;
  height: 20px;
  transform: translateX(-1px);
  background-color: #00d6fc;
  transition: all 0.25s ease;
}

@media (max-width:1300px){

  .actu{
    margin: 2% 5px;
  }
  .actu {
    height: 75vh;
  }
  .ul-actu {
    height: 65vh;
  }
}

@media (max-width:900px){
  .actu{
    margin: 2% 5px;
  }
  .actu {
    height: 80vh;
  }
  .ul-actu {
    height: 72vh;
  }
  .version{
    font-size: 25px;
  }
  .news li{
    font-size: 15px;
  }
}

@media only screen and (max-device-width : 1024px) and (min-device-width : 479px){
  html{
    background: top/120% no-repeat url("../imgs/logo_anime_bg.gif"), linear-gradient(to top, #1b2735, #19202b, #151a22, #111319, #090a0f);
  }
  h1{
    font-size: 10vw;
    width: 90vw;
  }
  #txt1{
    font-size: 6vw;
    margin-top: 5%;
    margin-bottom: 0;
    width: 200%;
  }

  .separate{
    grid-template-columns: 1fr 1fr;
    margin:auto;
    height: 100%;
    grid-gap: 3vw;
  }

  .left, .btn-play {
    grid-column: 1;
  }

  .actu{
    grid-column: 2;
    background-color: rgba(98, 101, 103, 0.7);
    margin: 0;
    height: 70vh;
  }
  
  .actu h2{
    font-size: 6vw;
  }

  .ul-actu {
    height: 70vh;
    font-size: 2.5vw;
  }

  .rs{
    position: fixed;
    bottom: 5%;
  }
  .rs h2{
    font-size: 3vw;
  }
  .div_rs{
    grid-gap: 1vw;
  }
  .div_rs p{
    font-size: 4vw;
  }
  .img_rs{
    max-width: 5vh;
  }

  .kave-line{
    font-size: 10vw;
  }
}

/* For phones */
@media only screen and (max-device-width : 480px) {
  html{
    background: top/200% no-repeat url("../imgs/logo_anime_bg.gif"), linear-gradient(to top, #1b2735, #19202b, #151a22, #111319, #090a0f);
  }
  h1{
    font-size: 10vw;
    width: 90vw;
  }
  .separate{
    display: block;
  }
  /* Reseaux sociaux */
  .rs{
    position: fixed;
    bottom: 5%;
  }
  .rs h2{
    font-size: 6vw;
  }
  #txt1{
    font-size: 6vw;
    font-weight: 300;
    margin-top: 5%;
    margin-bottom: 0;
  }
  .div_rs{
    grid-gap: 1vw;
  }
  .div_rs p{
    font-size: 4vw;
  }
  .img_rs{
    max-width: 6vh;
  }
  /* Actualites */
  .actu{
    background-color: rgba(98, 101, 103, 0.8);
    margin: 12vh 1vw;
    height: 50vh;
  }
  .ul-actu {
    height: 100%;
  }
  .actu h2{
    font-size: 8vw;
  }
  /*Bouton jouer*/
  .kave-btn {
    background: none;
    border: none;
    color: transparent;
    letter-spacing: 3px;
    height: 10%;
  }
  .kave-btn:before, .kave-btn:after,.kave-line:before, .kave-line:after{
    display: none;
  }
  .btn-play{
    top: 30%;
  }

}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (max-device-height :800px){
  .actu {
    height: 45vh;
  }
  footer{
    font-size: 14px;
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (max-device-height :600px){
  .actu{
    background-color: rgba(98, 101, 103, 0.8);
    margin: 16vh 1vw;
    height: 40vh;

  }
  .ul-actu {
    font-size: 4vw;
  }
  footer{
    font-size: 12px;
  }
  .kave-btn {
    background: none;
    border: none;
    color: transparent;
    letter-spacing: 3px;
    height: 5%;
  }
}