/* #region GLOBAL */
    html {
      background-color: black;

    }

    @font-face {
    font-family: "Titres";
    src: url("../fonts/Aileron.otf")
    }
    @font-face {
    font-family: "Textes";
    src: url("../fonts/neuro.ttf")
    }
    .hide {
      display: none;
    }
    body{
      margin: 0;
      height: 100vh;
      width: 100vw;}
    ul {
      padding: 0;
      list-style: none;
    }
/* #endregion */



/* #region GRILLE principale */

div.page {
  margin: 0;
  display: grid;
  grid-template-columns: 80vw 20vw;
  grid-template-rows: 100vh;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-auto-flow: column;

} 
/* #endregion */





/* #region PARTIE 1 Map */

.map .mapti{
  text-align: center;
}

.map {
  list-style: none;
}

.map form {
  margin-left : 1vw;
  float: left;
  margin-top: 20vh;
  width: 7vw;
}


.map h3, .map h1 , .pn p.mapii {
  color: white;
  font-family: Textes;
}

.map h2, .map h4{
  color: white;
  font-family: Textes;
  margin-left: 5vw;
}


.map form .conqueror{
  font-size: 1vw;
}

.map img.flag {
  /* float: right; */
  height: 3vw;
  width: auto;
  margin-left: 3vw;
  margin-top: -2vh;
}

.map img .systemesol{
  opacity: 0.8;
}

.map img {
  width: 6vw;
}

.map img:not(.flag) {
  overflow: hidden;
  transform: translatey(0px);
}


.map .firstgridd {
  display: grid;
  grid-auto-flow: column;
}
.map .secondgrid {
  display: grid;
  grid-auto-flow: column;
}

.imputmap {
  width: 15vw;
  text-align: center;
}
button#go {
    width: 18vw;
    margin-top: 2vh;
    height: 6vh;
    font-family: Titres;
    font-size: 175%;
}
/* #endregion */







@-webkit-keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}