/* PARTIE 1 */
/* #region Interface principale de gestion (pi) GRID */
  .pi {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 0px;
    grid-row-gap: 10px;
    grid-template-columns: 20vw 60vw;

  }

  /* #region colonne 1 */
  .logo {
    width: 10vw;
    margin-left: 3.5vw;
  }

  .navpla li button {
    width: 12.5vw;
    font-family: Titres;
    font-size: 1.25vw;
    /* border: none; */
  }
  .navpla li {
    margin-left: 2vw;
    margin-bottom: 1vw;
  }
  .navpla li button:hover {
    color: #01568b;
    background-color: #011C2D;
    border: none;
  }
 .navpla {
    width: auto;
    overflow: hidden;
    padding-bottom: 5vh;
    padding-top: 0.5vh;
  }

  .pr .ress li {
    color: whitesmoke;
    font-family: Textes;
    border-radius: 2px;
    margin-bottom: 3vh;
  }
  .pr .ress {
    font-size: 2.2vh;
    margin-left: 2vw;
  }
  .pr .ress img {
    height: 3vh;
    width: auto;
  }
  /* #endregion */
  /* #endregion */

  /* #region Colonne 2 */
  
  /* #region BUILDS */

   #carbone{
    background-image: url("../imgs/mining.png");
    background-size: 20%;
    background-repeat: no-repeat;
  }

  #puces{
    background-image: url("../imgs/factory.png");
    background-size: 17%;
    background-repeat: no-repeat;
  }

  #hydro{
    background-image: url("../imgs/powerplant.png");
    background-size: 20%;
    background-repeat: no-repeat;
  }

  #sp{
    background-image: url("../imgs/control-tower.png");
    background-size: 20%;
    background-repeat: no-repeat;
  }

  #rad{
    background-image: url("../imgs/satellite.png");
    background-size: 20%;
    background-repeat: no-repeat;
  }

  .builds {
    color: whitesmoke;
    width: 65vw;
    margin-right: 15vw;
    display: grid;
    grid-template-columns: repeat(2, 28vw);
    grid-template-rows: repeat(3, 30vh);
    grid-column-gap: 3vh;
    grid-row-gap: 1vw;
  } 

  .builds section {
    padding-right: 20%;
    padding-left: 20%;
  }
  
  .builds p, .builds li, .builds button, .builds h4  {
    font-family: Textes;
  }

  .builds p, .builds li, .builds button {
    font-size: 1.5vh;
  }

  .builds ul {
    padding-left: 1vw;
  }

  abbr {
    text-decoration: none;
  }

  .builds img {
    float: right;
    width: 50%;
    margin-top: 1%;
  }

  .builds li img {
    height: 2vh;
    width: auto;
    float: none;
    margin-top: 0;
  }
  .builds li {
    margin-top: 1vh;
  } 

  /* #endregion */  
  
  /* #region SPACEPORT */
  main.sp, main.hang{
    color: whitesmoke;
    width: 65vw;
    margin-right: 15vw;
    display: grid;
    grid-template-columns: repeat(2, 28vw);
    grid-template-rows: repeat(3, 30vh);
    grid-column-gap: 3vh;
    grid-row-gap: 1vw;
  } 
  .sp section, .hang section {
    padding-left: 21%;
  }
  .sp section li, .hang section li {
    padding-bottom: 0.2vh;
  }
  .sp img, .hang img {
    height: 2vh;
    width: auto;
    float: none;
    margin-top: 0;
  }
  
  .sp>section *, .hang>section *, h6.clsmsg,p.clsmsg{
    font-family: Textes;
  }

  h2.clsmsg{
    font-family: Titres;
  }

  /* #endregion */
  /* #endregion */


/* #region Colonne 3 */

/* 
.pn button {
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:2px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	padding:10px 32px;
	text-decoration:none;
}
.pn button:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
} */


/* #endregion */