<!-- Site créé par Thomas Lemartinel -->
<!DOCTYPE html>
<html lang="fr">

<head>
    <title>Accross Galaxies</title>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" href="../static/imgs/logo.png" />
    <link rel="stylesheet" media="screen" href="../static/css/admin.css" />
    <link rel="stylesheet" media="screen" href="../static/css/global.css" />
</head>


<body>
    <div class="page page-wrapper">

        <div class="main">

            <div id="stats">
                <h1>Impressions de la home page<br><br><span>{{impr[0]}}</span> || <span>{{impr[1]}}</span> || <span>{{impr[2]}}</span></h1>
                <hr>
                <!-- <h1>Visites uniques<br><br><span>{{uniques[0]}}</span> || <span>{{uniques[1]}}</span> || <span>{{uniques[2]}}</span></h1> -->
            </div>

            <div id="options"></div>
            <div id="logs"></div>
            <div id="membres"></div>

        </div>



        <div class="navi">
            <section id="statsbtn">Stats</section>
            <section id="optionsbtn">Options</section>
            <section id="logsbtn">Logs</section>
            <section id="membresbtn">Membres</section>
        </div>


    </div>
</body>


</html>