<!-- Site créé par Thomas Lemartinel -->
<!DOCTYPE html>
<html lang="fr">

<head>
    <title>Accross Galaxies</title>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" href="../static/imgs/logo.png" />
    <link rel="stylesheet" media="screen" href="../static/css/admin.css" />
    <link rel="stylesheet" media="screen" href="../static/css/global.css" />
</head>


<body>
    <div class="page page-wrapper">

        <div class="main">

            <div id="stats">
                <h1>Impressions de la home page<br><br><span>{{impr[0]}}</span> || <span>{{impr[1]}}</span> || <span>{{impr[2]}}</span></h1>
                <hr>
            </div>

            <div id="options">
                
                <form action="/togglemaintenance">
                    <button type="submit">{{maintenance}}</button>
                </form>

            </div>

            <div id="logs">
                {{logs |safe}}
            </div>

            <div id="membres"></div>

            <div id="changelog"></div>

        </div>



        <div class="navi">
            <section id="statsbtn">Stats</section>
            <section id="optionsbtn">Options</section>
            <section id="logsbtn">Logs</section>
            <section id="membresbtn">Membres</section>
            <section id="changelogbtn">Changelog</section>
        </div>


    </div>
<script src="../static/js/admin.js"></script>

</body>


</html>