<!-- Site créé par Thomas Lemartinel et Erwann Coden -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Accross Galaxies</title>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" href="../static/imgs/logo.png"/>
    <link rel="stylesheet" href="../static/css/home.css"/>
    <link rel="stylesheet" href="../static/css/bg.css"/>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <div class="page-bg"></div>
    <div class="animation-wrapper">
        <div class="particle particle-1"></div>
        <div class="particle particle-2"></div>
        <div class="particle particle-3"></div>
        <div class="particle particle-4"></div>
    </div>
    <h1>Across-Galaxies</h1>

    <div class="separate">
        <section class="left">
            <article>
                <p id="txt1">Jeu de gestion en ligne GRATUIT</p>
            </article>

        </section>

        <section class="btn-play">
            <button class="kave-btn" id="pbuilds"><a href="jeu" class="kave-line">JOUER</a></button>
        </section>

        <section class="actu">
            <h2>Actualités</h2><hr>
            <ul class="ul-actu">
              <li class="news">
                <i class="fa fa-bullhorn fa-2x logo-actu">
                <span class="version">Version B43</span></i>
                <h3>Changelog du 10/10/2021</h3>
                <ul>
                    <li>Ajout d'un système de captcha à l'inscription</li>
                    <li>Ajout de la puissance millitaire d'une planète dans ses stats (sur la page de gestion de votre planète(infrastructures/spacioport))</li>
                    <li>Modifications mineures</li>
                </ul>
                
              </li>
              
              <li class="news">
                <i class="fa fa-bullhorn fa-2x logo-actu">
                <span class="version">Version B42</span></i>
                <br>
                <h3>Mise à jour graphique</h3>
                <ul>
                    <li>Refonte entière du graphisme de la page d'accueil</li>
                    <li>Refont entière de la page de connexion et d'inscription</li>
                    <li>Page d'accueil et de login adaptable pour portable et tablettes</li>
                    <li>Modifications visuelles pour la page d'interaction entre planètes</li>
                    <li>Refonte de l'interface de jeu pour les infrastructures et le spacioport</li>
                </ul>
                <h3>Mise à jour technique</h3>
                <ul>
                    <li>Le bouton "jouer" de la page d'accueil redirige vers le jeu si vous étiez déjà conecté</li>
                    <li>Ajout de la fonctionnalité de récuperation du mot de passe en cas d'oubli</li>
                    <li>Système de newsletter (pas encore actif)</li>
                    <li>Compactage du html</li>
                    <li>Sécurisation des clefs d'api</li>
                </ul>
              </li>


              </ul>
        </section>
        <footer>
    <article class="rs">
        <h2>Rejoins nous sur les réseaux sociaux :</h2>
        <div class="div_rs">
            <div>
                <p>Discord</p>
                <a href="https://discord.gg/2PVtNnRKWy" target="_blank"><img class="img_rs discord" src="../static/imgs/ext/discordlogo.png" alt="logo discord"></a>
            </div>
            <div>
                <p>Instagram</p>
                <a href="https://www.instagram.com/taumah.l/" target="_blank"><img class="img_rs insta" src="../static/imgs/ext/insta.png" alt="logo instagram"></a>
            </div>
            <div>
                <p>Mail</p>
                <a href="mailto:support@across-galaxies.fr" target="_blank"><img class="img_rs mail" src="../static/imgs/ext/gmail.png" alt="logo mail"></a>
            </div>
        </div>
    </article>
    <p>|| Copyright © 2021 Across-Galaxies.fr ||</p>
</footer>
    </div>

</body>
</html>
