<!-- Site créé par Thomas Lemartinel -->
<!DOCTYPE html>
<html lang="fr">

<head>
  <title>Accross Galaxies</title>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/png" href="../static/imgs/logo.png" />
  <link rel="stylesheet" media="screen" href="../static/css/screen.css" />
</head>


<body>
<div class="page-bg"></div>
<div class="animation-wrapper">
  <div class="particle particle-1"></div>
  <div class="particle particle-2"></div>
  <div class="particle particle-3"></div>
  <div class="particle particle-4"></div>
</div>
<div class="page page-wrapper">
    <div class="pi">

      <div class="pr">

        <ul class="ress">

          <li><img src="../static/imgs/planet.png" alt="Numéro de plannete :"><strong>#{{ pname }}</strong></li>
          <li><img src="../static/imgs/carbon.png" alt="Carbone :"> {{ ress[0] }}</li>
          <li><img src="../static/imgs/cpu.png" alt="Puces :"> {{ ress[1] }} </li>
          <li><img src="../static/imgs/atome.png" alt="Hydrogène :"> {{ ress[2] }}</li>
        </ul>
        <br>
        <br>
        <br>
        <br>
        <br>
        <ul class="navpla">
          <li><button class="kave-btn" id="pbuilds"><span class="kave-line"></span>Infrastructure</button></li>
          <li><button class="kave-btn" id="psp"><span class="kave-line"></span>Spaceport</button></li>
          <li><button class="kave-btn" id="phang"><span class="kave-line"></span>Hangars</button></li>
        </ul>
        <!-- <img src="/static/imgs/logo.png" alt="" class="logo"> -->

      </div>


      


      <main class="builds">
        <section id="carbone">
          <abbr title="Augmente la production de carbone (10/h/lvl)">
          <h4> Mine lunaire</h4> 
          <p>Niv : {{bat["carbone"][0]}}</p>
          </abbr>
          <ul>
            <li>Amélioration</li>
            <li><img src="../static/imgs/carbon.png" alt="Carbone :"> {{bat["carbone"][1]}}</li>
            <li><img src="../static/imgs/cpu.png" alt="Puces :"> {{bat["carbone"][2]}}</li>
            <li><img src="../static/imgs/atome.png" alt="Hydrogène :"> {{bat["carbone"][3]}}</li>
          
            <li>
              <form action="/upbuild" method="POST" name="carbone">
                <input type="text" name="bat" value="carbone" class="hide">
                <button type="submit">
                  Améliorer
                </button>
              </form>
            </li>
            
          </ul>
        </section>


        <section id="puces">
          <abbr title="Augmente la production de puces (10/h/lvl)">
          <h4>Raffinerie de puces</h4>
          <p>Niv : {{bat["puces"][0]}}</p>
          </abbr>
          <ul>
            <li>Amélioration</li>
            <li><img src="../static/imgs/carbon.png" alt="Carbone :"> {{bat["puces"][1]}}</li>
            <li><img src="../static/imgs/cpu.png" alt="Puces :"> {{bat["puces"][2]}}</li>
            <li><img src="../static/imgs/atome.png" alt="Hydrogène :"> {{bat["puces"][3]}}</li>
            <li>
              <form action="/upbuild" method="POST" name="puces">
                <input type="text" name="bat" value="puces" class="hide">
                <button type="submit">
                  Améliorer
                </button>
              </form>
            </li>
            
          </ul>
        </section>


        <section  id="hydro">
          <abbr title="Augmente la production d'hydrogène (10/h/lvl)">
          <h4>Centrale d'hydrogène</h4>
          <p>Niv : {{bat["hydro"][0]}}</p>
          </abbr>
          <ul>
            <li>Amélioration</li>
            <li><img src="../static/imgs/carbon.png" alt="Carbone :"> {{bat["hydro"][1]}}</li>
            <li><img src="../static/imgs/cpu.png" alt="Puces :"> {{bat["hydro"][2]}}</li>
            <li><img src="../static/imgs/atome.png" alt="Hydrogène :"> {{bat["hydro"][3]}}</li>

            <li>
              <form action="/upbuild" method="POST" name="hydro">
                <input type="text" name="bat" value="hydro" class="hide">
                <button type="submit">
                  Améliorer
                </button>
              </form>
            </li>

          </ul>
        </section>

        <section id="rad">
          <abbr title="Permet de se protéger contre l'espionage">
          <h4>Radar</h4>
          <p>Niv : {{bat["rad"][0]}}</p>
          </abbr>
          <ul>
            <li>Amélioration</li>
            <li><img src="../static/imgs/carbon.png" alt="Carbone :"> {{bat["rad"][1]}}</li>
            <li><img src="../static/imgs/cpu.png" alt="Puces :"> {{bat["rad"][2]}}</li>
            <li><img src="../static/imgs/atome.png" alt="Hydrogène :"> {{bat["rad"][3]}}</li>
            <li>
              <form action="/upbuild" method="POST" name="rad">
                <input type="text" name="bat" value="rad" class="hide">
                <button type="submit">
                  Améliorer
                </button>
              </form>
            </li>
          </ul>
        </section>

        <section id="sp">
          <abbr title="Permet de débloquer des vaisseaux et d'augmenter leurs stats">
          <h4>Spatioport</h4>
          <p>Niv : {{bat["sp"][0]}}</p>
          </abbr>
          <ul>
            <li>Amélioration</li>
            <li><img src="../static/imgs/carbon.png" alt="Carbone :"> {{bat["sp"][1]}}</li>
            <li><img src="../static/imgs/cpu.png" alt="Puces :"> {{bat["sp"][2]}}</li>
            <li><img src="../static/imgs/atome.png" alt="Hydrogène :"> {{bat["sp"][3]}}</li>
            <li>
              <form action="/upbuild" method="POST" name="sp">
                <input type="text" name="bat" value="sp" class="hide">
                <button type="submit">
                  Améliorer
                </button>
              </form>
            </li>
          </ul>
        </section>
      </main>  

      <main class="sp">
        {{ spaceport | safe }}
      </main>
      
      <main class="hang">
        {{ hang | safe }}
      </main>


    </div>

    <div class="pn">
      <ul class="princi">  

        <li>
          <form action="/jeu" method="POST" name="osef">
            <button type="submit">
              Colonie
            </button>
          </form>
        </li>

        <li><form action="/map" method="POST" name="osef">
          <button type="submit">
            Map
          </button>
        </form></li>
      <li>
        <form action="/messages" method="POST" name="osef">
          <button type="submit">
            Messages
          </button>
        </form>
      </li>
        <li>
          <form action="/options" method="POST" name="osef">
            <button type="submit">
              Options
            </button>
          </form>
        </li>

      </ul>
      <ul class="plist">
        <li>
          <form action="/giveress" method="POST" name="actu">
            <input type="text" name="pla" value="actu" class="hide">
            <button type="submit">
              <h3>Récolter</h3>
            </button>
          </form>
        </li>
          {{ listpla | safe }}


      </ul>
    </div>
  </div>

  <script>
  "use strict";

  hideall()

  let page = sessionStorage.getItem('page');

  if(page == null){
    sessionStorage.setItem('page', 'builds');
  }
  document.getElementById("pbuilds").addEventListener('click', buildp);
  document.getElementById("psp").addEventListener('click', spp);
  document.getElementById("phang").addEventListener('click', hang);
  updatepage()

  function hideall() {
    document.querySelector(".sp").style.display = "none";
    document.querySelector(".builds").style.display = "none";
    document.querySelector(".hang").style.display = "none";
  }

  function buildp(event) {
    hideall();
    document.querySelector(".builds").style.display = "";
    sessionStorage.setItem('page', 'builds');
  }

  function spp(event) {
    hideall();
    document.querySelector(".sp").style.display = "";
    sessionStorage.setItem('page', 'sp');
  }
  function hang(event) {
    hideall();
    document.querySelector(".hang").style.display = "";
    sessionStorage.setItem('page', 'hang');
  }
  function updatepage(){
    hideall();
    document.querySelector("."+page).style.display = "";
  }


  </script>


</body>
</html>