<!-- Site créé par Thomas Lemartinel -->
<!DOCTYPE html>
<html lang="fr">

<head>
  <title>Accross Galaxies</title>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/png" href="../static/imgs/logo.png" />
  <link rel="stylesheet" media="screen" href="../static/css/screen.css" />
  <link rel="stylesheet" media="screen" href="../static/css/global.css" />
  <script src="../static/js/elementscommuns.js"></script>
</head>


<body>
    <div class="hide" id="hasmsg">{{notifmsg}}</div>
    <div class="pi">

      <!-- Infos des planètes + Boutons de navigation -->
      <div class="pr">
        <ul class="navpla">
          <li><img src="../static/imgs/logo.png" alt="" class="logonavpla"></li>
          <li><button class="kave-btn" id="pbuilds"><span class="kave-line"></span>Infrastructure</button></li>
          <li><button class="kave-btn" id="psp"><span class="kave-line"></span>Spacioport</button></li>
        </ul>
      </div>


      <main id="popup" class="hide">
      
      </main>


      <main class="builds">
      
        <header>
          <ul class="plastats">
            <div>
              <li><img src="../static/imgs/planet.png" alt="Numéro de plannete :"><strong>#{{ pname }}</strong></li>
              <li><img src="../static/imgs/shield.png" alt="Bouclier : "><strong>{{ shield }}</strong></li>
              <li><img src="../static/imgs/spaceship.png" alt="Puissance : "><strong>{{ power }}</strong></li>
            </div>

            <div>
              <li><img src="../static/imgs/carbon.png" alt="Carbone : "> {{ ress[0] }}</li>
              <li>{{ bat["carbone"][0]*10 }}/h</li>
            </div>

            <div>
              <li><img src="../static/imgs/cpu.png" alt="Puces : "> {{ ress[1] }} </li>
              <li>{{ bat["puces"][0]*10 }}/h</li>
            </div>

            <div>
              <li><img src="../static/imgs/atome.png" alt="Hydrogène : "> {{ ress[2] }}</li>
              <li>{{ bat["hydro"][0]*10 }}/h</li>
            </div>
          </ul>
        </header>

        <section id="carbone" class="batbuild">
          <h4> Mine lunaire</h4> 
          <p>Niv. {{bat["carbone"][0]}}</p>
          <inf class="hide" id="infcarbon">{{bat["carbone"][0]}} {{bat["carbone"][1]}} {{bat["carbone"][2]}} {{bat["carbone"][3]}}</inf>
        </section>


        <section id="puces" class="batbuild">
          <h4>Raffinerie de puces</h4>
          <p>Niv. {{bat["puces"][0]}}</p>
          <inf class="hide" id="infpuces">{{bat["puces"][0]}} {{bat["puces"][1]}} {{bat["puces"][2]}} {{bat["puces"][3]}}</inf>

        </section>


        <section  id="hydro" class="batbuild">
          <h4>Centrale d'hydrogène</h4>
          <p>Niv : {{bat["hydro"][0]}}</p>
          <inf class="hide" id="infhydro">{{bat["hydro"][0]}} {{bat["hydro"][1]}} {{bat["hydro"][2]}} {{bat["hydro"][3]}}</inf>
        </section>


        <section id="rad" class="batbuild">
          <h4>Radar</h4>
          <p>Niv : {{bat["rad"][0]}}</p>
          <inf class="hide" id="infrad">{{bat["rad"][0]}} {{bat["rad"][1]}} {{bat["rad"][2]}} {{bat["rad"][3]}}</inf>
        </section>


        <section id="sp" class="batbuild">
          <h4>Spatioport</h4>
          <p>Niv : {{bat["sp"][0]}}</p>
          <inf class="hide" id="infsp">{{bat["sp"][0]}} {{bat["sp"][1]}} {{bat["sp"][2]}} {{bat["sp"][3]}}</inf>
        </section>

      </main>  



      <main class="sp">
        <header>
          <ul class="plastats">
            <div>
              <li><img src="../static/imgs/planet.png" alt="Numéro de plannete :"><strong>#{{ pname }}</strong></li>
              <li><img src="../static/imgs/shield.png" alt="Bouclier : "><strong>{{ shield }}</strong></li><li><img src="../static/imgs/spaceship.png" alt="Puissance : "><strong>{{ power }}</strong></li>
            </div>
          
            <div>
              <li><img src="../static/imgs/carbon.png" alt="Carbone : "> {{ ress[0] }}</li>
              <li>{{ bat["carbone"][0]*10 }}/h</li>
            </div>
          
            <div>
              <li><img src="../static/imgs/cpu.png" alt="Puces : "> {{ ress[1] }} </li>
              <li>{{ bat["puces"][0]*10 }}/h</li>
            </div>
          
            <div>
              <li><img src="../static/imgs/atome.png" alt="Hydrogène : "> {{ ress[2] }}</li>
              <li>{{ bat["hydro"][0]*10 }}/h</li>
            </div>
          </ul>
        </header>
        {{ spaceport | safe }}
      </main>

    </div>

    <div class="pn">
      <script>Menu();</script>
      
      <ul class="plist">
        <li>
          <form action="/giveress" method="POST" name="actu">
            <input type="text" name="pla" value="actu" class="hide">
            <button type="submit">
              <h3>Récolter</h3>
            </button>
          </form>
        </li>
          {{ listpla | safe }}


      </ul>
    </div>

  <script>
    notifmsg();
  </script>
  <script>
  "use strict";

  hideall()
  
  let page = sessionStorage.getItem('page');
  
  if(page == null){
    hideall();
    document.querySelector(".builds").style.display = "";
    sessionStorage.setItem('page', 'builds');
    updatepage();
  }
  
  document.getElementById("pbuilds").addEventListener('click', buildp);
  document.getElementById("psp").addEventListener('click', spp);
  updatepage();

  function hideall() {
    document.querySelector(".sp").style.display = "none";
    document.querySelector(".builds").style.display = "none";
  }

  function buildp(event) {
    hideall();
    document.querySelector(".builds").style.display = "";
    sessionStorage.setItem('page', 'builds');
  }

  function spp(event) {
    hideall();
    document.querySelector(".sp").style.display = "";
    sessionStorage.setItem('page', 'sp');
  }

  function updatepage(){
    if (page == null) {
      page = sessionStorage.getItem('page');
      sessionStorage.setItem('page', 'builds');
    }
    hideall();
    document.querySelector("."+page).style.display = "";
  }


  </script>

<script src="../static/js/buildsinfos.js"></script>
</body>
</html>