<!-- Site créé par Thomas Lemartinel et Erwann Coden -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Accross Galaxies</title>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" href="../static/imgs/logo.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" media="screen" href="../static/css/login.css" />
    <link rel="stylesheet" media="screen" href="../static/css/bg.css" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
</head>

<body>
    <div class="page-bg"></div>
    <div class="animation-wrapper">
        <div class="particle particle-1"></div>
        <div class="particle particle-2"></div>
        <div class="particle particle-3"></div>
        <div class="particle particle-4"></div>
    </div>
    <h1>Across-Galaxies</h1>

    <div id="forget_cadre" class="cadre_forg">
        <section class="cadre forg">
            <h2>Mot de passe oublié</h2>
            <span onclick="document.getElementById('forget_cadre').style.display='none'" class="close" title="Close Modal">&times;</span>
            <form method="post" action="/forgmail">
                <article class="container">
                    <h3 id="mdp_title">Vous avez oublié vos identifiants ?</h3>
                    <p id="mdp_txt">Veuillez indiquer votre email pour récupérer votre mot de passe</p>
                    
                    <div class="log_cont">
                        <label for="forgmail"></label>
                        <i class="fa fa-envelope icon"></i>
                        <input class="input-field" type="email" placeholder="Adresse mail" name="forgmail" required>
                    </div>
                </article>
                <article>
                    <button class="button" type="submit">Envoyer</button>
                </article>
            </form>
        </section>
        </form>
    </div>

    <div class="separate">
        <section>
            <article class="cadre">
                <h2>Connexion</h2>
                <form class="login_form" method="post" action="/checklog">
                    <div class="container">
                        <div class="log_cont">
                            <i class="fa fa-envelope icon"></i>
                            <input class="input-field" type="email" placeholder="Adresse mail" name="l_mail" required>
                        </div>
                        <div class="log_cont">
                            <label for="logmdp"></label>
                            <i class="fa fa-key icon"></i>
                            <input class="input-field" type="password" placeholder="Mot de passe" name="l_mdp" required>
                        </div>
                        
                            <button class="button" type="submit" onclick="myFunction()">Se connecter</button>
                    </div> 
                </form>
                    <button class="forgmdp" onclick="document.getElementById('forget_cadre').style.display='block'" style="width:auto;">Mot de passe oublié</button>
            </article>
        </section>
        <section>{{error| safe}}</section>
        

        <section>
            <article class="cadre cadre_rg">
                <h2>Inscription</h2>
                <form class="login_form" method="post" action="checkreg">        
                    <div class="container">
                        <div class="log_cont log_cont_rg">
                            <label for="inscpseudo"></label>
                            <i class="fa fa-user icon"></i>
                            <input type="text" placeholder="Pseudo" name="r_pseudo" required>
                        </div>

                        <div class="log_cont log_cont_rg">
                            <label for="inscuser"></label>
                            <i class="fa fa-envelope icon"></i>
                            <input type="email" placeholder="Adresse mail" name="r_mail" required>
                        </div>

                        <div class="log_cont log_cont_rg mdp">
                            <label for="inscmdp"></label>
                            <i class="fa fa-key icon"></i>
                            <input type="password" placeholder="Mot de passe" name="r_mdp" required>
                        </div>

                        <div class="log_cont log_cont_rg">
                            <label for="conf_inscmdp"></label>
                            <i class="fa fa-expeditedssl icon"></i>  
                            <input type="password" placeholder="Confirmation du mot de passe" name="r_mdp_c" required>
                        </div>
                        <input type="text" name="truecapt" value="{{captcha}}" id="hide">
                        <div class="log_cont captcha">
                            <img src="../static/imgs/CAPTCHA.png" id="im_captcha">
                            <label for="captcha" id="captcha_txt">Lettres dans l'image :</label>
                            <input type="text" id="captcha" placeholder="Captcha" name="captcha" required>
                        </div>
                        <button class="button" type="submit">S'enregistrer</button>
                    </div>
                </form>
            </article>
        </section>
    </div>
<script>
        setTimeout(function () {
                document.getElementById("error_cont").style.display = "none";
            }, 5000);
</script>
</body>

</html>
