<!-- Site créé par Thomas Lemartinel et Erwann Coden -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Accross Galaxies</title>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" href="../static/imgs/logo.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" media="screen" href="../static/css/login.css" />
    <link rel="stylesheet" media="screen" href="../static/css/bg.css" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
</head>

<body>
    <div class="page-bg"></div>
    <div class="animation-wrapper">
        <div class="particle particle-1"></div>
        <div class="particle particle-2"></div>
        <div class="particle particle-3"></div>
        <div class="particle particle-4"></div>
    </div>
    <h1>Across-Galaxies</h1>

    <div class="separate">
        <section>
            <article class="cadre">
                <h2>Connexion</h2>
                <form class="login_form" method="post">        
                    <div class="container">
                        <div class="log_cont">
                            <label for="loguser"></label>
                            <i class="fa fa-envelope icon"></i>
                            <input class="input-field" type="email" placeholder="Adresse mail" name="loguser" required>
                        </div>
                        <div class="log_cont">
                            <label for="logmdp"></label>
                            <i class="fa fa-key icon"></i>
                            <input class="input-field" type="password" placeholder="Mot de passe" name="logmdp" required>
                        </div>
                        
                            <button type="submit" onclick="myFunction()">Se connecter</button>
                        <div>
                            <a class="forgmdp" href="#">Mot de passe oublié</a>
                        </div>
                    </div> 
                </form>
            </article>
        </section>
        <section>
            <div id="error_cont">{{error}}</div>
        </section>
        <section>
            <article class="cadre cadre_rg">
                <h2>Inscription</h2>
                <form class="login_form" method="post">        
                    <div class="container">
                        <div class="log_cont log_cont_rg">
                            <label for="inscpseudo"></label>
                            <i class="fa fa-user icon"></i>
                            <input type="text" placeholder="Pseudo" name="inscpseudo" required>
                        </div>

                        <div class="log_cont log_cont_rg">
                            <label for="inscuser"></label>
                            <i class="fa fa-envelope icon"></i>
                            <input type="email" placeholder="Adresse mail" name="inscuser" required>
                        </div>

                        <div class="log_cont log_cont_rg mdp">
                            <label for="inscmdp"></label>
                            <i class="fa fa-key icon"></i>
                            <input type="password" placeholder="Mot de passe" name="inscmdp" required>
                        </div>

                        <div class="log_cont log_cont_rg">
                            <label for="conf_inscmdp"></label>
                            <i class="fa fa-expeditedssl icon"></i>  
                            <input type="password" placeholder="Confirmation du mot de passe" name="conf_inscmdp" required>
                        </div>

                        <div class="log_cont captcha">
                            <img src="../static/imgs/CAPTCHA.png" id="im_captcha">
                            <label for="captcha" id="captcha_txt">Lettres dans l'image :</label>
                            <input type="text" id="captcha" placeholder="Captcha" name="captcha" required>
                        </div>
                        <button type="submit">S'enregistrer</button>
                    </div>
                </form>
            </article>
        </section>
    </div>

    <script>
        function error() {
          var x = document.getElementById("snackbar");
          x.className = "show";
          setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
        }
    </script>
</body>

</html>
