<!-- Site créé par Thomas Lemartinel -->
<!DOCTYPE html>
<html lang="fr">

<head>
  <title>Accross Galaxies</title>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/png" href="../static/imgs/logo.png" />
  <link rel="stylesheet" media="screen" href="../static/css/screen.css" />
</head>


<body>
<div class="page-bg"></div>
    <div class="animation-wrapper">
      <div class="particle particle-1"></div>
      <div class="particle particle-2"></div>
      <div class="particle particle-3"></div>
      <div class="particle particle-4"></div>
    </div>
  <div class="page page-wrapper">

  <div class="map ">
    <ul>{{ plas | safe }}</ul>
    

  </div>

  <div class="pn">
    <ul class="princi">

      <li>
        <form action="/jeu" method="POST" name="osef">
          <button type="submit">
            Colonie
          </button>
        </form>
      </li>

      <li>
        <form action="/map" method="POST" name="osef">
          <button type="submit">
            Map
          </button>
        </form>
      </li>

      <!-- <li><button type="button" name="Alliance">Alliance</button></li> -->
      <!-- <li><button type="button" name="Chat">Chat</button></li> -->
    </ul>
    <br>
    <br>
    <br>
    <ul class="plist">
      <li>
        <form action="/map" method="POST" name="wmap">
          <input type="text" name="wmap" value="" placeholder="#ID de planète">
          <button type="submit">
            <h3>Y aller</h3>
          </button>
        </form>
      </li>


    </ul>
  </div>


</div>
</body>

</html>