<!-- Site créé par Thomas Lemartinel -->
<!DOCTYPE html>
<html lang="fr">

<head>
  <title>Accross Galaxies</title>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/png" href="../static/imgs/logo.png" />
  <link rel="stylesheet" media="screen" href="../static/css/screen.css" />
</head>


<body>
<div class="page-bg"></div>
    <div class="animation-wrapper">
      <div class="particle particle-1"></div>
      <div class="particle particle-2"></div>
      <div class="particle particle-3"></div>
      <div class="particle particle-4"></div>
    </div>
  <div class="page page-wrapper">

  <div class="map ">
    <!-- <form action="/atta" method="POST" name="atta"> -->
      {{ plas | safe }}
    <!-- </form> -->
  </div>

  <div class="pn">
    <ul class="princi">

      <li>
        <form action="/jeu" method="POST" name="osef">
          <button type="submit">
            Colonie
          </button>
        </form>
      </li>

      <li>
        <form action="/map" method="POST" name="osef">
          <button type="submit">
            Map
          </button>
        </form>
      </li>

      <li>
        <form action="/messages" method="POST" name="osef">
          <button type="submit">
            Rapports
          </button>
        </form>
      </li>

      <!-- <li><button type="button" name="Alliance">Alliance</button></li> -->
      <!-- <li><button type="button" name="Chat">Chat</button></li> -->
    </ul>
    <br>
    <br>
    <br>
    <ul class="plist">
      <li>
        <form action="/map" method="POST" name="wmap">
          <input type="text" name="wmap" value="" placeholder="#ID de planète">
          <button type="submit">
            <h3>Y aller</h3>
          </button>
        </form>
      </li>


    </ul>
  </div>


</div>
</body>

<script>
// Pour afficher/cacher les inputs des vaisseaux
  function hideinput(){
    let vaisseaux = document.querySelectorAll("section.vaissmap input")
    for (let index = 0; index < vaisseaux.length; index++) {
      vaisseaux[index].remove()
    }
  }
  function showin(){
    let vname;
    let vaisseaux = document.querySelectorAll("section.vaissmap")
    for (let index = 0; index < vaisseaux.length; index++) {
      vname = vaisseaux[index].children[1].textContent.split(':')[0];
      vname = vname.substring(0, vname.length - 1);
      im = document.createElement("input");
      im.setAttribute("type", "text");
      im.setAttribute("name", vname);
      im.setAttribute("value", "0");
      im.setAttribute("placeholder", "Nombre de vaisseaux à envoyer");
      vaisseaux[index].appendChild(im)
    }
  }

  function showress(){
    alert("AFFICHER LES RESSOURCES");
  }

  function selectaction(element) {
    hideinput()
    let im; 
    let val = element.options[element.options.selectedIndex].value;
    console.log(val);
    if (val == "Attaquer"){
      hideinput()
      showin()
      }
    if (val == "Docker" || val == "Transporter"){
      hideinput()
      showin()
      showress()
      }
    }
  

</script>
<script>
  // Pour afficher les vaisseaux dispo

  function hideele() {
    let vaisseaux = document.querySelectorAll("section.vaissmap");
    for (let index = 0; index < vaisseaux.length; index++) {
      vaisseaux[index].classList.add("hide");
    }
  }

  function selectpla(element){
    hideele()
    let val = element.options[element.options.selectedIndex].value.split('#')[1];
    val = String(val)
    let vaisseaux = document.querySelectorAll("section");
    for (let index = 0; index < vaisseaux.length; index++) {
      if (vaisseaux[index].id == val) {
        vaisseaux[index].classList.remove("hide");;
      }
    }
  }
</script>
</html>



