<!-- Site créé par Thomas Lemartinel -->
<!DOCTYPE html>
<html lang="fr">

<head>
    <title>Accross Galaxies</title>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" href="../static/imgs/logo.png" />
    <link rel="stylesheet" media="screen" href="../static/css/mapact.css" />
    <link rel="stylesheet" media="screen" href="../static/css/global.css" />
    <script src="../static/js/config.js"></script>
    <script src="../static/js/elementscommuns.js"></script>
</head>


<body>
    <div class="hide" id="hasmsg">{{notifmsg}}</div>

    <div class="page page-wrapper">

        <div class="mapact">
            {{ plas | safe }}


            <!-- <h3>Transporter des ressources</h3> -->
            <!-- <h4>Capacité : xx/xx </h4> -->
            <div class="grid3c">


                <!-- <div>
                    <img src="../static/imgs/carbon.png" alt="">
                    <p>Carbone xx/xx</p>
                    <input type="number" name="" id="">
                </div>

                <div>
                    <img src="../static/imgs/cpu.png" alt="">
                    <p>Puces xx/xx</p>
                    <input type="number" name="" id="">
                </div>

                <div>
                    <img src="../static/imgs/atome.png" alt="">
                    <p>Hydrogène xx/xx</p>
                    <input type="number" name="" id="">
                </div> -->
            </div>


        </div>

        <div class="pn">
            <script>Menu()</script>
            
            <ul class="selectedstats">
                <li><h3>Selection</h3></li>
                <li id="nbvaiss">Vaissaux : 0</li>
                <li id="pow">Puissance : 0</li>
                <li id="stock">Stockage : 0 </li>
            </ul>

            <!-- Bouttons d'actions -->
            <ul class="action">
                <li>
                    <form action="/atta" id="Attaquer" method="POST">
                        <input type="text" class="hide" id="platta" name="platta" value="">
                        <input type="text" class="hide" id="platarg" name="platarg" value="">
                        <input type="text" class="hide" id="Croiseur" name="Croiseur" value="0">
                        <input type="text" class="hide" id="Nanosonde" name="Nano-Sonde" value="0">
                        <input type="text" class="hide" id="Cargo" name="Cargo" value="0">
                        <input type="text" class="hide" id="Victoire" name="Victoire" value="0">
                        <input type="text" class="hide" id="Colonisateur" name="Colonisateur" value="0">
                        <input type="text" class="hide" id="Carbone" name="Carbone" value="0">
                        <input type="text" class="hide" id="Puces" name="Puces" value="0">
                        <input type="text" class="hide" id="Hydro" name="Hydro" value="0">
                        <input type="text" class="hide" id="action" name="action" value="Attaquer">
                        <button class="kave-btnd" type="submit" disabled><span
                                class="kave-line"></span>Attaquer</button>
                    </form>
                </li>
                <li>
                    <form action="/atta" id="Espionner" method="POST">
                        <input type="text" class="hide" id="platta" name="platta" value="">
                        <input type="text" class="hide" id="platarg" name="platarg" value="">
                        <input type="text" class="hide" id="Croiseur" name="Croiseur" value="0">
                        <input type="text" class="hide" id="Nanosonde" name="Nano-Sonde" value="0">
                        <input type="text" class="hide" id="Cargo" name="Cargo" value="0">
                        <input type="text" class="hide" id="Victoire" name="Victoire" value="0">
                        <input type="text" class="hide" id="Colonisateur" name="Colonisateur" value="0">
                        <input type="text" class="hide" id="Carbone" name="Carbone" value="0">
                        <input type="text" class="hide" id="Puces" name="Puces" value="0">
                        <input type="text" class="hide" id="Hydro" name="Hydro" value="0">
                        <input type="text" class="hide" id="action" name="action" value="Espionner">
                        <button class="kave-btnd" type="submit" disabled><span
                                class="kave-line"></span>Espionner</button>
                    </form>
                </li>

                <!-- <li><button class="kave-btn"><span class="kave-line"></span>Coloniser</button></li>
                <li><button class="kave-btn"><span class="kave-line"></span>Transporter</button></li>
                <li><button class="kave-btn"><span class="kave-line"></span>Docker</button></li> -->

                <li id="marg"></li>

                <li>
                    <form action="/map" method="POST" name="osef">
                        <button type="submit">
                            Retour
                        </button>
                    </form>
                </li>

            </ul>
        </div>


    </div>
<script src="../static/js/actionsplas.js"></script>
<script>
    notifmsg();
</script>
</body>

</html>