<!-- Site créé par Thomas Lemartinel -->
<!DOCTYPE html>
<html lang="fr">

<head>
  <title>Accross Galaxies</title>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/png" href="../static/imgs/logo.png" />
  <link rel="stylesheet" media="screen" href="../static/css/messages.css" />
  <link rel="stylesheet" media="screen" href="../static/css/global.css" />
  <script src="../static/js/elementscommuns.js"></script>
  </head>
  
  
  <body>
    <div class="hide" id="hasmsg">{{notifmsg}}</div>

  <div class="page page-wrapper">

  <div class="msgs">

    {{ toaff | safe }}
    
  </div>

  <div class="pn">
    <script>Menu();</script>
    <br>
    <br>
    <br>
    <ul class="plist">
      {{ msgs | safe }}
    </ul>
  </div>


</div>
  <script>
    notifmsg();
  </script>
<script>
  "use strict";

    function elmsg(event) {
        console.log(event.currentTarget.childNodes[0].childNodes[2].textContent);
        try{ document.querySelector('.msgs').removeChild(document.querySelector('.msgs > div'));}
        catch{}
        let eldiv = document.createElement("div");
        let form = document.createElement('form')
        let title = document.createElement('h2');
        let date = document.createElement('h6');
        let contenu = document.createElement('p');
        let input = document.createElement("input");
        let button = document.createElement('button');
        contenu.textContent = event.currentTarget.childNodes[0].childNodes[2].textContent;
        title.textContent = event.currentTarget.childNodes[0].childNodes[0].textContent;
        date.textContent = event.currentTarget.childNodes[0].childNodes[1].textContent;
        button.textContent = "Supprimer";
        form.setAttribute('action', "/delmsg")
        form.setAttribute('method', "POST")

        title.setAttribute('class', "clsmsg")
        date.setAttribute('class', "clsmsg")
        contenu.setAttribute('class', "clsmsg")
        button.setAttribute('class', "msgsuppbutton")

        input.setAttribute('class', "hide")
        input.setAttribute('name', "idmsg")
        input.setAttribute('value', event.currentTarget.childNodes[0].childNodes[3].textContent)

        form.appendChild(title);
        form.appendChild(date);
        form.appendChild(contenu);
        form.appendChild(input);
        form.appendChild(button);
        eldiv.appendChild(form);
        document.querySelector(".msgs").appendChild(eldiv)
      }

  let msgs = document.querySelectorAll(".unmsg");
  for (let index = 0; index < msgs.length; index++) {
    msgs[index].addEventListener('click', elmsg);
  }


</script>

</body>

</html>



