<!-- Site créé par Thomas Lemartinel -->
<!DOCTYPE html>
<html lang="fr">

<head>
  <title>Accross Galaxies</title>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/png" href="../static/imgs/logo.png" />
  <link rel="stylesheet" media="screen" href="../static/css/global.css" />
  <link rel="stylesheet" media="screen" href="../static/css/options.css" />
  <script src="../static/js/elementscommuns.js"></script>
  </head>
  
  
  <body>
    <div class="hide" id="hasmsg">{{notifmsg}}</div>

  <div class="page page-wrapper">
  <div>

    
    <form action="changemdp" method="post">
      <h3>Changer son mot de passe</h3>
      <p>Ancien mot de passe</p>
      <input type="password" name="old" required>
      <p>Nouveau mot de passe</p>
      <input type="password" name="new" required>
        <p>Confirmation</p>
        <input type="password" name="conf" required>
        <br>
        <br>
        <button type="submit">Valider</button>
        <!-- <br> -->
        <!-- <small>Une fois que vous aurez validé, vous recevrez un mail de confirmation</small> -->
      </form>
      <br>
      <br>
      <br>
      <br>
      <a href="/login"><button>Se déconecter</button></a>

  </div>


<div class="pn">
  <script>Menu();</script>
    <br>
    <br>
    <br>
    <ul class="plist">
    </ul>
  </div>


</div>
  <script>
    notifmsg();
  </script>
</body>

</html>



