<!-- Site créé par Thomas Lemartinel -->
<!DOCTYPE html>
<html lang="fr">

<head>
  <title>Accross Galaxies</title>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/png" href="../static/imgs/logo.png" />
  <link rel="stylesheet" media="screen" href="../static/css/screen.css" />
</head>


<body>
<div class="page-bg"></div>
    <div class="animation-wrapper">
      <div class="particle particle-1"></div>
      <div class="particle particle-2"></div>
      <div class="particle particle-3"></div>
      <div class="particle particle-4"></div>
    </div>
  <div class="page page-wrapper">

  <div class="msgs">
    <h3>OPTIONS</h3>
  </div>

  <div class="pn">
    <ul class="princi">

      <li>
        <form action="/jeu" method="POST" name="osef">
          <button type="submit">
            Colonie
          </button>
        </form>
      </li>

      <li>
        <form action="/map" method="POST" name="osef">
          <button type="submit">
            Map
          </button>
        </form>
      </li>

      <li>
        <form action="/messages" method="POST" name="osef">
          <button type="submit">
            Messages
          </button>
        </form>
      </li>

      <li>
        <form action="/options" method="POST" name="osef">
          <button type="submit">
            Options
          </button>
        </form>
      </li>

    </ul>
    <br>
    <br>
    <br>
    <ul class="plist">
    </ul>
  </div>


</div>

</body>

</html>



