<!-- Site créé par Thomas Lemartinel -->
<!DOCTYPE html>
<html lang="fr">

<head>
  <title>Accross Galaxies</title>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/png" href="../static/imgs/logo.png" />
  <link rel="stylesheet" media="screen" href="../static/css/home.css" />
<meta name="propeller" content="6e6c6c9ada849f54ef8fb87396183506">
</head>


<body>

  <div class="tm-main-container">
    <div class="tm-top-container">
      <nav id="tmNav" class="tm-nav">
        <a class="tm-navbar-menu" href="/test2">Jouer</a>
      </nav>

      <!-- Site header -->
      <header class="tm-site-header-box tm-bg-dark">
        <h1 class="tm-site-title">Across-Galaxies</h1>
        <p class="mb-0 tm-site-subtitle">Jeu de gestion en ligne GRATUIT</p>
      </header>
    </div>
    <!-- tm-top-container -->

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <!-- Site content -->
          <div class="tm-content">
            <!-- Section 0 Introduction -->

            
            <section class="tm-section tm-section-0">
              <h2 class="tm-section-title mb-3 font-weight-bold">
                Actualitées
              </h2>
              <div class="tm-textbox tm-bg-dark">
                <ul>
                  <li>Nouvelle home page</li>
                </ul>

              </div>
            </section>


          </div>
        </div>
      </div>
    </div>

    <!-- Barcode -->
    <div class="tm-bottom-container">
      <div class="tm-barcode-box">
        <a href="https://discord.gg/2PVtNnRKWy"><img src="/static/imgs/ext/discordlogo.png" alt=""></a>
        <a href="mailto: support@across-galaxies.fr" tag><img src="/static/imgs/ext/gmail.png" alt=""></a>
      </div>

      <!-- Footer -->
      <footer>
        || Copyright &copy; 2021 Across-Galaxies.fr ||
      </footer>
    </div>
  </div>
</body>

</html>