<!-- Site créé par Thomas Lemartinel et Erwann Coden-->
<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Accross Galaxies</title>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" href="../static/imgs/logo.png" />
    <link rel="stylesheet" media="screen" href="../static/css/messages.css" />
</head>


<body>
    <section id="msg" class="msg">
        <header>
            <span onclick="document.getElementById('msg').style.display='none'" class="close" title="Supprimer le message">&times;</span>
            <h1>Bienvenue</h1>
        </header>
        <article class="container">
            <p class="date">6/10-17:57</p>  
            <p class="desti"><span id="from">De : </span>Pierre Lachiasse</p>
            <hr>
            <p>Bienvenue sur le jeu Across Galaxies ! Si vous avez des question je vous prie de rejoindre le serveur discord. En vous souhaitant un bon jeu ! Cordialement l'équipe de Across-Galaxies</p>
        </article>
        <input class="hidden" name="idmsg">
    </section>

</body>

</html>



