<!-- Site créé par Thomas Lemartinel -->
<!DOCTYPE html>
<html lang="fr">

<head>
  <title>Accross Galaxies</title>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/png" href="../static/imgs/logo.png" />
  <link rel="stylesheet" media="screen" href="../static/css/screen.css" />
</head>


<body>
  <p>Pour naviguer, entrez un numéro de planète et l'interface vous montrera les planètes aux alentours</p>
    
          <form action="/map" method="POST" name="actu">
            <input type="text" name="pla" value="" placeholder="Numéro de planète">
            <button type="submit">
              <h3>Y aller</h3>
            </button>
          </form>
  </div>



</body>

</html>
